{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Добавить новый продукт</h1>
</div>

<div class="container">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Название</label>
                        <input class="form-control" id="exampleFormControlInput1"
                               placeholder="Введите название продукта">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Описание</label>
                        <textarea class="form-control" id="exampleFormControlInput2"
                                  placeholder="Введите описание продукта"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Загрузите фото продукта</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Выберите категорию</label>
                        <select class="form-select" aria-label="Пример выбора по умолчанию">
                            <option selected>Список доступных категорий</option>
                            <option value="1">{{ object_list.0 }}</option>
                            <option value="2">{{ object_list.1 }}</option>
                            <option value="3">{{ object_list.2 }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput3" class="form-label">Цена</label>
                        <input class="form-control" id="exampleFormControlInput3"
                        placeholder="Введите цену продукта">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Дата создания</label>
                        <input class="form-control" list="datalistOptions" id="exampleDataList"
                               placeholder="Введите дату создания">
                        <datalist id="datalistOptions">
                            <option value="{% now 'Y-M-d' %}">
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Дата изменения</label>
                        <input class="form-control" list="datalistOptions1" id="exampleDataList1"
                               placeholder="Введите дату изменения">
                        <datalist id="datalistOptions1">
                            <option value="{% now 'Y-M-d' %}">
                        </datalist>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
